@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated) {
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "right menu" })) {
        @Html.AntiForgeryToken()
        @Html.ActionLink("Hallo " + User.Identity.GetUserName() + "!", "ChangePassword", "Manage", null, new { title = "Change password", @class = "item" })
        <a class="item" href="javascript:document.getElementById('logoutForm').submit()">Abmelden</a>
    }
} else {
    @Html.ActionLink("Anmelden", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "right item" })
}