@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<div class="ui stacked segment">
    <h1 class="red">Error.</h1>
    <h2 class="red">An error occurred while processing your request.</h2>
    <pre>
@Model.Exception.Message
@Model.Exception.StackTrace
</pre>
</div>